*{
    padding: 0;
    margin: 0;
    
}

.container{
    background-image: url("unsplash_ELf8M_YWRTY\ \(1\).png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100vh;}
    

.navbar{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar>h1{
    width: 314px ;
    height: 45px ;
    top: 48px ;
    left: 55px;
    margin-left:100px;
    padding: 8px;
    font-size:40px;
    font-family: Peralta;
    font-size: 40px;
    font-weight: 800;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    

}

.navbar>h1:hover {
    border-bottom: 3px solid blue;

}

.navbar>li{
    list-style: none;
    display: flex;
    position: relative;
    padding: 1px;
    font-size: larger;
    font-weight: 600;
}

 .navbar>li:hover {
    border: 4px solid blue;
    
}
    
.btn1{
    background-color: #EC682C;
    display:inline;
    width: Fixed 107px ;
    height: Fixed 40px ;
    top: 50px ;
    left: 1107px ;
    padding: 8px 20px 8px 20px ;
    border-radius: 8px ;
    gap: 8px;
    font-size:large;
    color: white;
}

.btn2{
background-color: #EC682C;
   width:  125px;
   height: Fixed 40px;
   top: 50px; 
   left: 1261px;
   margin-right: 50px;
padding: 8px 20px 8px 20px;
   border-radius: 8px;
   border: 1px;
   gap: 8px;
   font-size: large;
   color: white;
}

.btn1:hover{
    border: 3px solid blue;
}

.btn2:hover{
    border:3px solid blue;
}

.text-box{
    margin-top: 260px;
    margin-left: 150px;
      
}

.text-box>h1{
    color: blue;
    font-family: Poppins;
        font-size: 48px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: -0.04em;
        text-align: left;
}

.text-box>h2{
    color: aliceblue;
    font-family: Poppins;
        font-size: 32px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
}

.text-box>h1:hover {
border-bottom:3px solid rgb(33, 98, 196);

}

.text-box>h2:hover{
    border-bottom: 3px solid rgb(33,98,196);
}



.btn3{
    color:white;
    background-color: blue;
    display: inline;
    margin-top: 30px;
        margin-left: 180px;
        padding: 8px 20px 8px 20px;
        font-size: 20px;
        border-radius: 8px;
}
.btn3:hover {
border: 3px solid blue;
}

div.container2{
    width: 80%;
    margin: 40px;
    margin-left: 95px;
    display: block;
    text-align: center;
    width: 1279px;
    height: 672px;
    top:1004px;
    left:75px;
}

div.container2:hover {
    border: 3px solid blue;
}




.container2>h3{
   
font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #4B40C5;
}
    
.container2>h1{
    color: #14183E;;
    font-family: Poppins;
        font-size: 64px;
        font-weight: 700;
        line-height: 96px;
        letter-spacing: 0em;
        text-align: center;
        
}
 .flex-container{
    display: flex;
    
 }   

 .flex-container>div{
background-color: #f1f1f1;
margin: 10px;
padding: 20px;
font-size: 30px;
}





 

